<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand fs-1" href="#">Catalogo Juegos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" *ngIf="tipousuario==='Usuario'" aria-current="page" [routerLink]="'/inicio'">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="tipousuario==='Usuario'" [routerLink]="'/catalogo'" >Catalogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " *ngIf="tipousuario==='Usuario'">Amigos</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <a class="btn btn-outline-succes-control fw-semibold fs-5">Bienvenido: {{nombre}}</a>
          <button class="btn btn-success" type="submit" (click)="CerrarSesion()" >Cerrar Sesion</button>
        </form>
      </div>
    </div>
  </nav>